{% extends "main/base.html" %}

{% block title %} Создание задания {% endblock %}

{% block content %}
<div class="card bg-dark text-light border-0">
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3 col-12" style="padding: 10px;">
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 30%;">
                    {{ form_task.assigned_to }}
                </div>
                <div style="width: 30%;">
                    {{ form_task.description }}
                </div>
            </div>
            <br>

            <div style="width: 100%;">
                <button type="submit" class="btn btn-success" style="width: 100%;">{% if form_task.instance %}Сохранить изменения{% else %}Добавить задачу{% endif %}</button>
            </div>
        </div>
    </form>
</div>

{% if tasks %}
{% for task in tasks %}
<div class="card bg-dark text-light border-0">
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3 col-12" style="padding: 10px;">
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 30%;">
                    <input type="text" name="assigned_to" value="{{ task.assigned_to }}">
                </div>
                <div style="width: 30%;">
                    <input type="text" name="description" value="{{ task.description }}">
                </div>
            </div>
            <br>

            <div style="width: 100%;">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Сохранить задание</button>
            </div>
        </div>
    </form>
</div>
{% endfor %}
{% endif %}
{% endblock %}